@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --lead: #212121;
  --gold-finger: #f2bd12;
  --eye-ball: #fffdf7;
  --hint-yellow: #fcf1cc;
  --pure-white: #fff;
}

body {
  background: var(--eye-ball);
}

/* BASIC STYLING */

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--lead);
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

.p-top {
  padding-top: 10rem;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 4rem;
}

/* HEADER STYLE */
.navbar {
  min-height: 14vh;
}

.logo {
  font-size: 2rem;
  color: var(--gold-finger);
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  background: var(--gold-finger);
  font-size: 1.1rem;
  border-radius: 1rem;
  color: var(--pure-white);
  box-shadow: rgba(0, 0, 0, 0.144) 0 2px 1px;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: var(--lead);
}

.cart-icon {
  color: var(--lead);
  font-size: 1.3rem;
  position: relative;
}

.cart-icon .cart-value {
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: 0.85rem;
  width: 20px;
  aspect-ratio: 1;
  background: var(--gold-finger);
  border-radius: 100vh;
  color: var(--lead);
  text-align: center;
  line-height: 20px;
}

.desktop-action .hamburger {
  font-size: 1.5rem;
  display: none;
}

.mobile-menu {
  display: none;
}

/* HERO SECTION STYLE */

.hero-section {
  min-height: calc(100vh - 14vh);
}

.content,
.image-container,
.service-card {
  flex: 1;
  flex-basis: 300px;
}

h1 {
  font-size: 5.6vw;
  color: var(--lead);
}

h1 span {
  color: var(--gold-finger);
}

p {
  font-size: 1.25rem;
  line-height: 1.8rem;
  color: gray;
  font-weight: 400;
}

.para {
  max-width: 500px;
  margin-block: 2rem;
}

.social-icon {
  background: var(--hint-yellow);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.144) 0 2px 1px;
  transition: 0.3s ease-in-out;
}

.social-icon:hover {
  background: var(--lead);
  color: var(--pure-white);
}

/* SECTION 01 */

h5 {
  color: var(--gold-finger);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.7rem;
  text-transform: capitalize;
  color: var(--lead);
}

h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--lead);
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* SECTION 02 */

.order-card {
  flex: 1;
  flex-basis: 260px;
  padding: 0 1rem 2rem 1rem;
  background: var(--pure-white);
  border: 0.1rem solid var(--gold-finger);
  border-radius: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.13) 8px 8px 8px,
    rgba(0, 0, 0, 0.13) 8px 8px 8px inset;
}

.order-card img {
  width: 15rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.578) 0 10px 10px);
}

h4 {
  font-size: 1.8rem;
  color: var(--lead);
}

.price {
  font-size: 1.7rem;
  color: var(--gold-finger);
  padding: 1.3rem 0 2rem 0;
}

/* FOOTER STYLE */

/* MEDIA QUERY */

@media screen and (max-width: 780px) {
  /* HEADER STYLE */
  .navlist,
  .desktop-action .btn {
    display: none;
  }

  .desktop-action .hamburger {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    width: 20rem;
    padding: 2rem;
    background: var(--pure-white);
    border: 0.1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow:
      rgba(0, 0, 0, 0.13) 8px 8px 8px,
      rgba(0, 0, 0, 0.13) 8px 8px 8px inset;
    transition: 0.5s ease-in-out;
  }

  .mobile-menu-active {
    left: -50%;
    transform: translateX(-50%);
  }

  /* SECTION STYLE */
  h1 {
    font-size: 3.6rem;
  }

  .content {
    padding-top: 3rem;
  }

  .gap-2 {
    gap: 1.4rem;
  }

  .gap-4 {
    gap: 4rem;
  }

  /* SECTION 01 */
  h2 {
    font-size: 3rem;
  }
}
